[submodule "src/net/brainvitamins/state"]
	path = src/net/brainvitamins/state
	url = https://github.com/cqcallaw/state-manager.git
[submodule "kerberos-library"]
	path = kerberos-library
	url = https://github.com/cqcallaw/kerberos-android.git
